@model DalaProject.Models.MarketProduct
@{
    ViewData["Title"] = "Создать товар на рынке";
}
<h2>@ViewData["Title"]</h2>

<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="mb-3">
        <label asp-for="Category" class="form-label"></label>
        <input asp-for="Category" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="Price" class="form-label"></label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="mb-3">
        <label asp-for="FermerId" class="form-label"></label>
        <select asp-for="FermerId" class="form-select" asp-items="@(ViewData["FermerId"] as SelectList)"></select>
        <span asp-validation-for="FermerId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ProductId" class="form-label"></label>
        <select asp-for="ProductId" class="form-select" asp-items="@(ViewData["ProductId"] as SelectList)"></select>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a asp-action="Index" class="btn btn-secondary">Отмена</a>
</form>